* {
    /*font-family: 'SF Mono', sans-serif;*/
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: #c0caf5; /* Tokyo Night foreground */
}

#workspaces {
}

#workspaces button.active {
    background-color: #7aa2f7; /* Tokyo Night blue */
    padding: 0 15px 0 15px;
    color: #1a1b26; /* Tokyo Night background */
}

.modules-left {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent; /* Set background to transparent */
}

.modules-right {
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent; /* Set background to transparent */
}

.modules-center {
    background-color: transparent; /* Set background to transparent */
}

#battery {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 15px;
    color: #9ece6a; /* Tokyo Night green */
    background-color: transparent; /* Set background to transparent */
}

#clock {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 15px;
    background-color: transparent; /* Set background to transparent */
    color: #e0af68; /* Tokyo Night yellow */
}

#network {
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent; /* Set background to transparent */
    color: #bb9af7; /* Tokyo Night magenta */
}

#pulseaudio {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 15px;
    background-color: transparent; /* Set background to transparent */
    color: #e0af68; /* Tokyo Night yellow */
}

#disk {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 15px;
    background-color: transparent; /* Set background to transparent */
    color: #9ece6a; /* Tokyo Night green */
}

#memory {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 15px;
    background-color: transparent; /* Set background to transparent */
    color: #bb9af7; /* Tokyo Night magenta */
}

#backlight {
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent; /* Set background to transparent */
    color: #fab387; /* Tokyo Night peach */
}
